<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="manage.css">
  <title>Manage</title>
</head>

<body>

  <header id="navbar">
    <!-- Navigation bar will be inserted here -->
  </header>

  <div class="container">
    <h1>Manage</h1>

    <!-- Add Person Section -->
    <section>
      <h2>Add/Update a Person</h2>
      <div>
        <div class="textInputWrapper">
          <label for="Person ID">Person ID</label>
          <input type="text" id="personId" placeholder="Person ID">
        </div>

        <div class="textInputWrapper">
          <label for="roleSelect">Select a role</label>
          <select id="roleSelect">
            <option value="actor">Actor</option>
            <option value="director">Director</option>
            <option value="writer">Writer</option>
            <option value="user">User</option>
          </select>
        </div>

        <div class="textInputWrapper">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" placeholder="First Name">
        </div>

        <div class="textInputWrapper">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" placeholder="Last Name">
        </div>
        <div class="textInputWrapper">
          <label for="dob">Date of Birth</label>
          <input type="text" id="dob" placeholder="Date of Birth (YYYY)">
        </div>
        <button class="button" onclick="addOrUpdatePerson()">Add / Update Person</button>
        <button class="button" onclick="deletePerson()">Delete Person</button>
      </div>
    </section>


    <!-- Manage Production Studios Section -->
    <section>
      <h2>Manage Production Studios</h2>
      <div>

        <div class="textInputWrapper">
          <label for="studioId">Studio ID</label>
          <input type="text" id="studioId" placeholder="Enter studio ID (for editing)">
        </div>

        <div class="textInputWrapper">
          <label for="studioName">Studio Name</label>
          <input type="text" id="studioName" placeholder="Enter production studio name">
        </div>

        <div class="textInputWrapper">
          <label for="studioCountry">Studio country</label>
          <input type="text" id="studioCountry" placeholder="Enter country">
        </div>

        <div class="textInputWrapper">
          <label for="foundingYear">Founding Year</label>
          <input type="text" id="foundingYear" placeholder="Enter founding year">
        </div>

        <div class="textInputWrapper">
          <label for="ceo">CEO</label>
          <input type="text" id="ceo" placeholder="Enter CEO">
        </div>

        <div class="textInputWrapper">
          <label for="website">Website</label>
        <input type="text" id="website" placeholder="Enter website">
          </div>

          
        <button class="button" onclick="addProductionStudio()">Add Production Studio</button>
        <button class="button" onclick="editProductionStudio()">Edit Production Studio</button>
        <div class="textInputWrapper">
          <label for="deleteStudioId">Delete Studio ID</label>
        <input type="text" id="deleteStudioId" placeholder="Enter studio ID (for deletion)">
        </div>
        <button class="button" onclick="deleteProductionStudio()">Delete Production Studio</button>
      </div>
    </section>

    <!-- Manage Movie/Series Genres Section -->
    <section>
      <h2>Manage Movie/Series Genres</h2>
      <div>
        <label for="contentId">Content ID:</label>
        <div class="textInputWrapper">
        <input type="text" id="contentId" placeholder="Content ID">
        <input type="text" id="genre" placeholder="Genre">
        </div>
        <button class="button" onclick="addOrUpdateGenre()">Add / Update Genre</button>
        <button class="button" onclick="deleteGenre()">Delete Genre</button>
      </div>
    </section>

  </div>

  <script src="script.js"></script>

  <script>
    // Fetch and insert the navigation bar
    fetch('navbar.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('navbar').innerHTML = data;
      });
  </script>
</body>

</html>