body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: #0b5ba7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .container:hover {
    transform: translateY(-5px);
  }
  
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    color: #fff;
    margin-bottom: 10px;
  }

  #personId{
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color:#fff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: #007bff;
    color: white;
  }
  
