<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="login.css">
  <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>Register</h2>
    <form action="/register" method="post">
      <div class="form-group">
        <label for="username">Firstname</label>
        <input type="text" id="firstname" name="firstname" required>
      </div>
      <div class="form-group">
        <label for="username">Lastname</label>
        <input type="text" id="lastname" name="lastname" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="password">Re-enter Password</label>
        <input type="password" id="password" name="Re_enter_password" required>
      </div>
      <div class="form-group">
        <label for="password">Date of Birth</label>
        <input type="date" id="dob" name="dob" required>
      </div>
      <div>
        <label for="password">Role</label>
        <select id="roleSelect" name="role">
          <option value="User">User</option>
          <option value="Writer">Writer</option>
          <option value="Actor">Actor</option>
          <option value="Director">Director</option>
        </select>
      </div>
      <button type="submit">Register</button>
    </form>  <br>
    <a href="login.html">Login</a>
  </div>
</body>
<script>
  const roleSelect = document.getElementById("roleSelect");
  const selectedRoleInput = document.getElementById("selectedRole");
  roleSelect.addEventListener("change", function() {
    selectedRoleInput.value = this.value;
  });
</script>
</html>